// Variable overrides
$brand-colors-kurator-plus: #F9866F;
$brand-colors-kurator-plus-light: #ffb2a3;

$navbar-brand-bg: $brand-colors-kurator-plus;
$navbar-dark-brand-color: #FFFFFF;
$sidebar-bg: $brand-colors-kurator-plus;
